name: Workflow Run tests

on:
  workflow_run:
    workflows: ["CI"]
    types:
      - completed

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Check workflow_run context
        run: echo "${{ toJson(github) }}"